:root {
  --main-color: #ae9bb1;
  --main-color-faded: #ae9bb18a;
  --secondary-color: #a18db3;
  --tertiary-color: rgba(124, 149, 149, 0.397);
  --background-color: rgb(124, 149, 149);
  --off-white: #f4eff5;
  --soft-black: rgba(26, 23, 31, 0.848);
  --hyperlink-blue: #124ba0cd;
  --footlink-blue: #0e459997;
}

button {
  border: var(--secondary-color);
  background-color: var(--tertiary-color);
}

footer,
header,
hr {
  background-color: var(--secondary-color);
  color: var(--soft-black);
}

h1 {
  font-weight: 900;
}

hr {
  color: var(--background-color);
  border-width: 10px;
  opacity: 100%;
}

img {
  opacity: 70%;
}

ul {
  display: inline-flex;
  margin: 2px;
  padding: 0;
  list-style: none;
}

.App {
  text-align: center;
  background-color: var(--main-color);
  margin: auto;
  max-width: 900px;
}

.App-logo {
  height: 50pt;
  pointer-events: none;
}

.carousel-text-bg {
  background-color: var(--main-color-faded);
  color: var(--off-white);
}

.carousel-slides,
.grid-text {
  margin: 50px 0;
}

.day-button {
  padding: 10px 20px;
  margin: 5px;
  border: var(--secondary-color);
  border-width: 1px solid;
  border-radius: 5px;
  background-color: var(--tertiary-color);
  font-size: 16px;
}

.day-button:hover {
  color: var(--off-white);
  font-weight: bold;
  background-color: var(--secondary-color);
}

.footer-SO-link {
  font-weight: 600;
}

.footlink {
  color: var(--footlink-blue);
  text-decoration: none;
}

.footer-SO-link:hover,
.footlink:hover {
  text-decoration: underline;
}

.grid-img {
  max-height: 200px;
}

.grid-text {
  color: var(--soft-black);
}

.hover-text,
.horoscope-title-grid,
.horoscope-title-carousel {
  text-transform: capitalize;
}

.horoscope-title-grid,
.horoscope-title-carousel {
  font-weight: 900;
  font-size: 20px;
  margin: 0;
  padding: 0;
}

.horocope-dates-carousel,
.horoscope-dates-grid {
  font-weight: 600;
  font-size: 14px;
  font-style: italic;
}

.horoscope-description-carousel {
  font-size: 15px;
  padding-left: 30px;
  padding-right: 30px;
}

.horoscope-description-grid {
  font-size: 13px;
  text-align: start;
}

.hover-text {
  font-size: 12px;
  text-transform: capitalize;
}

.img-carousel {
  max-width: 400px;
}

.page-title {
  font-size: 45px;
  padding-bottom: 10px;
}

.user-date,
.user-date-carousel {
  text-decoration: underline;
  font-size: 14px;
}

.user-date,
.user-date-carousel,
.user-date-main {
  font-weight: 900;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 5s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (min-width: 576px) {
  .top-page,
  .mobile-shortcuts {
    display: none;
  }
}

@media (max-width: 576px) {
  .carousel-slides,
  .grid-text {
    margin-top: 10px;
    margin-bottom: 0px;
  }

  .page-title {
    font-size: 30px;
  }

  .day-button {
    padding: 10px 20px;
    font-size: 16px;
  }

  .horoscope-description-carousel {
    font-size: 14px;
    padding-left: 0;
    padding-right: 0;
  }

  .horoscope-description-grid {
    text-align: center;
  }

  .horoscope-title-carousel,
  .horoscope-title-dates {
    font-size: 18px;
  }

  .img-carousel {
    max-width: 75%;
    padding-top: 30px;
    padding-bottom: 30px;
  }

  .mobile-shortcuts-link {
    text-decoration: none;
    text-transform: capitalize;
    background-color: var(--secondary-color);
    color: var(--soft-black);
  }

  .user-date-carousel {
    display: none;
  }
}

@media (max-width: 430px) {
  .top-page-link {
    color: var(--hyperlink-blue);
    font-weight: 600;
    background-color: var(--secondary-color);
    padding: 0 10px;
  }

  .mobile-shortcuts-link:hover {
    color: var(--off-white);
  }
}

@media (max-width: 355px) {
  .carousel-slides {
    display: none;
  }
}
